@{
    ViewBag.Title = "Custom Filters";
}

<div ng-app="myApp">

    <h1>Custom Filters</h1>
    <div>
        <div class="panel panel-info">
            <div class="panel-body" ng-controller="mainController">
                <input type="text" class="form-control" ng-model="number" />
                <br />
                <p>{{ number | decorate:"$" }}</p>
                <p>{{ number | decorate:"/" }}</p>
                <p>{{ number | decorate:"|" }}</p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var app = angular.module("myApp", []);

    app.controller("mainController", function ($scope) {

    });

    app.filter("decorate", function () {
        var func = function (sourceVal, format) {
            if (sourceVal === undefined) {
                return "";
            } else {
                return format + sourceVal + format;
            }
        };

        return func;
    });
</script>
