@{
    ViewBag.Title = "";
}

<div ng-app="mainApp">

    <h1>XXX</h1>
    <div>
        <div class="panel panel-info">
            <div class="panel-body" ng-controller="mainController">

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var app = angular.module("mainApp", []);

    app.controller("mainController", function ($scope) {

    });
</script>
