@{
    ViewBag.Title = "Filters";
}

<h1>Filters</h1>
<div ng-app="myApp">
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                You Name:<input type="text" class="form-control" ng-model="name" />
                <br />
                WELCOME {{ name | uppercase }}
                <br />
                Welcome {{ name | lowercase }}
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                The Price:<input type="number" class="form-control" ng-model="price" />
                <br />
                Unit Price: {{ price | currency:"RMB " }}
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                The Number:<input type="number" class="form-control" ng-model="num" />
                <br />
                Number: {{ num | number: 2 }}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = angular.module("myApp", []);
</script>