<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>
                Name:
            </th>
            <td>
                Angular
            </td>
        </tr>
        <tr>
            <th>
                Gender:
            </th>
            <td>
                Unknown
            </td>
        </tr>
        <tr>
            <th>
                Manufacturer:
            </th>
            <td>
                Google Inc.
            </td>
        </tr>
    </tbody>
</table>
