<div ng-controller="loginController">
    <form action="/" id="loginForm">
        <div class="row"><label>Username:</label><input type="text" ng-model="username" class="form-control" /></div>
        <div class="row"><label>Password:</label><input type="password" ng-model="password" class="form-control" /></div>
        <div class="row"><button type="button" class="btn btn-primary" ng-click="submit()">Login</button> </div>
    </form>
</div>