@{
    ViewBag.Title = "AJAX";
}

<h1>$http Service &amp; filter</h1>
<div ng-app="myApp">
    <div class="panel panel-info">
        <div class="panel-body" ng-controller="peopleController">
            <div ng-view></div>
            <button type="button" class="btn btn-primary" ng-click="load()">Load Data</button>
            <button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    var app = angular.module('myApp', ['ngRoute']);

    app.config(function ($routeProvider) {
        $routeProvider
        .when('/', {
            template: "Blank"
        })
        .when('/people', {
            templateUrl: '/FrontEnd/Partial?viewname=7-1-view',
            title: 'People'
        })
        .otherwise({
            template: 'Page not found without 404 code.'
        });
    });

    app.controller("peopleController", function ($scope, $location, $http) {

        $scope.load = function () {
            $http.get("/FrontEnd/Partial?viewname=7-2-data")
            .success(function (response) {
                $scope.data = response.data;
                $location.path('/people');
            })
        }

        $scope.reset = function () {
            $location.path('/');
        }
    })
</script>

@section scripts{
    <script src="~/Scripts/angular-route.min.js"></script>
}
